#ignore everything
/*

#and whitelist

!.editorconfig
!.gitignore
!.gitmodules

!README.md
!LICENSE
!todo.txt
!/doc/

!configure
!Makefile
!bootstrap.sh

src/hostconfig.h
!/src/
!/src/*
!/tool/

!/test/
!/test/external/**
