#ignore everything
/*

#and whitelist

!.editorconfig
!.gitignore
!.gitmodules

!README.md
!LICENSE
!todo.txt
!/doc/

!configure
!Makefile
!bootstrap.sh

!/*.h
hostconfig.h
!/*.c
!/c/
!/ir/
!/x86_64/
!/aarch64/
!/obj/
!/tool/

!/test/
!/test/external/**
