#ignore everything
/*

#and whitelist

!.editorconfig
!.gitignore
!.gitmodules

!README.md
!LICENSE
!BUGS
!TODO
!VERSION
!/doc/
!/.woodpecker/

!configure
!Makefile

!/src/
!/src/*
!/tool/
tool/*
!/tool/*.c
!/tool/*.h
!/tool/*.sh
src/version.h
src/hostconfig.h
src/a_embedfilesdir.c

!/test/
test/csmith
!/test/*.c
!/test/*.sh
!/test/external/
test/external/*
!/test/external/*.sh
